page-profile {
    .bu{
        float: right;
        margin-top: -41px;
    }
    .nameowner{
        margin-left: 40px;
        margin-top: -26px;
        color:#365899;
        font-family: inherit;
        font-weight: bold;
        
    }
    .imgowner{
        border-radius: 50%;
    }
    .imgfalt{
        float: right;
        display: block;
    
   
        
    }
}
